* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #dee2e6;
  transition: background 0.5s ease;
}

.container {
  background: #ffffff;
  border-radius: 16px;
  padding: 40px 50px;
  text-align: center;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
  color: #333;
  max-width: 500px;
  width: 90%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.container:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}


h1 {
  margin-bottom: 20px;
}

.quote-box {
  margin-bottom: 20px;
}

#quote {
  font-size: 1.4rem;
  margin-bottom: 10px;
}

#author {
  font-style: italic;
  opacity: 0.8;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  border: 1px solid #333;    
  background: #fff;
  color: #333;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #e9c46a;
  color: black;
}
